<div class="row col-lg-6">
  <form (submit)="submitform(f)" #f="ngForm">
  <div class="form-group">
    <label for="firstName">FirstName</label>
    <input type="text" name="firstName" class="form-control" 
    [ngClass]="{'form-control error-input': !firstName.valid && firstName.touched}"
    ngModel required #firstName="ngModel"/>
    <span *ngIf="!firstName.valid && firstName.touched">
      <p class="text-danger">Enter a valid name!</p>
    </span>
  </div>
  <div class="form-group">
    <label for="lastName">LastName</label>
    <input type="text" name="lastName" class="form-control" ngModel />
  </div>
  <div class="form-group">
    <label for="userName">UserName</label>
    <input type="text" name="userName" class="form-control" ngModel required #userName/>
    <span *ngIf="!userName.valid && userName.touched">
      <p class="text-danger">UserName is mandatory!</p>
    </span>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" name="email" class="form-control" ngModel required email/>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]='!f.valid'>SignUp</button>
</form>
</div>